<%= render "layouts/nav_bar" %>
<%= flash[:message] %>
<h3 class="h3 mb-3 font-weight-normal"> <%= @user.user_name.capitalize %>'s Favorite Songs </h3>
<hr>

<p>
    <% @user.songs.each do |song| %>
        Artist: <%= link_to song.artist.name, song_path(song.id) %>  <br>
        Song: <%= link_to song.title, song_path(song.id) %> <br>
        <b> <%= link_to "Delete", destroy_favorite_path(song.id), method: :delete %> </b>
        <hr>
    <% end %>
</p>