<% @title = @user.user_name.capitalize + "'s Favorite Songs" %>
<%= render "layouts/nav_bar", locals: { nav_title: @title } %>
<%= flash[:message] %>

<div class="container-custom">
    <% @user.songs.each do |song| %>
        <div class="card card-custom mx-2 mb-3">
            <img src="<%= song.artist.album.album_img %>" alt="" class="card-img">
            <p>
                Artist: <%= link_to song.artist.name, song_path(song.id) %>  <br>
                Song: <%= link_to song.title, song_path(song.id) %> <br> 
            </p>
            <b> <%= link_to "Delete", destroy_favorite_path(song.id), method: :delete %> </b>
        </div>
    <% end %>
</div>