<%= flash[:message] %>
<h1><%= @user.user_name.capitalize %>'s Favorite Songs</h1>

<p>
    <% @user.songs.each do |song| %>
        Artist: <%= link_to song.artist.name, song_path(song.id) %>  <br>
        Song: <%= link_to song.title, song_path(song.id) %> <br>
        <b> <%= link_to "Delete", destroy_favorite_path(song.id), method: :delete %> </b>
        <hr>
    <% end %>
</p>

<h3>TODO: INSERT NAV BAR</h3>