<div class="container">
    <div class="row buffer">
    </div>
    <div class="row align-items-center">
        <div class="col">
            <div class="form-signin">
                <p>
                    <%= flash[:message] %>
                    <%= flash[:login_please] %>
                </p>
                <h3 class="h3 mb-3 font-weight-normal"> 
                    welcome new user!
                </h3>

                <%= form_with model: @user, class: "form-inlin justify-content-center" do |f| %>
                    <%= f.label :user_name, class: "sr-only" %>
                    <%= f.text_field :user_name, placeholder: "johnny rose" %>
                    <br>
                    <%= f.label :user_email, class: "sr-only" %>
                    <%= f.text_field :email, placeholder: "davids_dad@s_creek.com" %>
                    <br>
                    <%= f.label :user_pass, class: "sr-only" %>
                    <%= f.text_field :user_pass, placeholder: "password" %>
                    <br>
                    <%= f.submit "Login", class: "btn btn-lg btn-primary btn-block"%>
                <% end %>
            </div>
        </div>
    <div>
</div>