<%= render "layouts/nav_bar", locals: { nav_title: "All Songs" } %>
<%= flash[:message] %>

<div class="container-custom">
    <% @songs.each do |song| %>
        <div class="card card-custom mx-2 mb-3">
            <img src="https://cdn.pixabay.com/photo/2019/04/04/18/50/cassette-4103530_1280.jpg" alt="" class="card-img">
            <p>
                Artist: <%= link_to song.artist.name, song_path(song.id) %>  <br>
                Song: <%= link_to song.title, song_path(song.id) %> <br>
            </p>
            <b>
                <%= link_to("Save to Favorites", save_favorite_path(song.id), method: :post) %>
            </b>
        </div>
    <% end %>
</div>