<h1> Songs Index </h1>
<%= render "layouts/nav_bar" %>
<%= flash[:message] %>
<div>
    <% @songs.each do |song| %>
        Artist: <%= link_to song.artist.name, song_path(song.id) %>  <br>
        Song: <%= link_to song.title, song_path(song.id) %>
        <h4> <%= link_to("Save to Favorites", save_favorite_path(song.id), method: :post) %></h4>
        <hr>
    <% end %>
</div>
