<h1> Song Show </h1>

<p>
    Song: <%= @song.title %> <br>
    Artist: <%= @artist.name %> <br>
    Album: <%= @album.title %> <br>
    Released: <%= @album.year %> <br>
    
    <% if @artist.is_local? %>
        <%= "This artist is local to Seattle!" %>
    <% end %>

</p>

<%= link_to "TODO: Add To Favorites"%>